/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.navbar-custom {

    background-color: #003d76 !important;
}

.nav-item {
    color: white !important;
    font-family: "Arial Black" ,sans-serif;

}
.btn {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 8px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white !important;
    box-shadow: 0 1px 3px rgb(0, 61, 118), 0 1px 2px rgb(0, 61, 118);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    border-color: #ffcc03;
}
.btn-layer1 {
    border: 3px solid #ffcc03 !important;
    color: #ffcc03 !important;
}
.btn-layer2 {
    background-color: #ffcc03 !important;
    width: 200px !important;
    margin-left: 120px;
    border-color: #003d76 !important;
    color: black !important;

}
.btn-layer3 {
    background-color: #003d76 !important;
    font-size: 25px !important;
    text-transform: uppercase;
    text-align: center;
    width: 400px !important;
    height: 60px !important;
}

#outer h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    margin-top: 200px;
    font-size: 75px;
    text-align: center;
    color: white;
    text-transform: uppercase;

}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #ffcc03;
}

#outer {
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}
#home-top-video:before {
    content:"";
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:1;
    background:linear-gradient(to right, rgba(255, 255, 255, 0.24), rgb(0, 61, 118));
    opacity: 0.5;
}

#home-top-video {
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    overflow: hidden;
    z-index: -1;

}
.navbar {
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}
.navbar-nav .nav-link {
    color: #000000;
}

.btnStyle{
    background-color: #000000 !important;
    color: #ffffff !important;
    border-radius: 0 !important;
    border-width: 2px !important;
}
.buttonsRight {
    margin-right: 50px;
}
.navbar-brand>img {
    align-content: center;

}
.dropdown-color {
    background-color: #003d76;

}
.dropdown-menu {
    top: 75px !important;
    right: 50px;
    padding-top: 50px;
    width: 300px;
    height: 250px;
    background-color: #003d76 !important;

}
.dropdown button {
    margin-right: 100px;
    margin-bottom: -60px;
    background-color: #003d76;
}
.mb-3 {
    width: 270px !important;
    margin-left: 15px !important;

}
.mb-3 label {
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
}
.dropdown-menu button {
    margin-left: 15px;
    margin-bottom: -20px;
}

.boxRight {

    width: 500px;
    height: 300px;
    background-color: green ;

}




