/* CSS stylesheet  for application */

table {
    border-collapse: collapse;
    border: 1px solid silver;
    padding:15px;
}
.verticalSpans {
    display: -moz-inline-block;
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-right: 1em;
}
.footer {
    font-family: "Arial Black", Gadget, sans-serif !important;
}

th, td {
    border: 1px solid silver;
    padding:15px;
}

.navbar-custom {

    background-color: #003d76 !important;
}

.nav-item {
    color: white !important;
    font-family: "Arial Black" ,sans-serif;

}
.btn {
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 8px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white !important;
    box-shadow: 0 1px 3px rgb(0, 61, 118), 0 1px 2px rgb(0, 61, 118);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    border-color: #ffcc03;
}
.btn-layer1 {
    border: 3px solid #ffcc03 !important;
    color: #ffcc03 !important;
}
.btn-layer2 {
    background-color: #ffcc03 !important;
    width: 200px !important;
    margin-left: 120px;
    border-color: #003d76 !important;
    color: black !important;

}
.btn-layer3 {
    background-color: #003d76 !important;
    font-size: 25px !important;
    text-transform: uppercase;
    text-align: center;
    width: 400px !important;
    height: 60px !important;
}
.btn-layer4 {
    background-color: black !important;
    width: 200px !important;
    margin-left: 120px;
    border-color: black !important;
    color: white !important;

}

#outer h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    margin-top: 200px;
    font-size: 75px;
    text-align: center;
    color: white;
    text-transform: uppercase;

}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background-color: #ffcc03;
}

#outer {
    text-align: center;
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}
#home-top-video:before {
    content:"";
    position: absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    z-index:1;
    background:linear-gradient(to right, rgba(255, 255, 255, 0.24), rgb(0, 61, 118));
    opacity: 0.5;
}

#home-top-video {
    left: 0%;
    top: 0%;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    overflow: hidden;
    z-index: -1;

}
.navbar {
    box-shadow: 0 4px 6px 0 rgba(22, 22, 26, 0.18);
}
.navbar-nav .nav-link {
    color: #000000;
}

.btnStyle{
    background-color: #000000 !important;
    color: #ffffff !important;
    border-radius: 0 !important;
    border-width: 2px !important;
}
.buttonsRight {
    margin-right: 50px;
}
.navbar-brand>img {
    align-content: center;

}
.dropdown-color {
    background-color: #003d76;

}
.dropdown-menu {
    top: 75px !important;
    right: 50px;
    padding-top: 50px;
    width: 300px;
    height: 250px;
    background-color: #003d76 !important;

}
.dropdown button {
    margin-right: 100px;
    margin-bottom: -60px;
    background-color: #003d76;
}
.mb-3-header {
    width: 270px !important;
    margin-left: 15px !important;

}
.mb-3-header label {
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
}

.dropdown-menu button {
    margin-left: 15px;
    margin-bottom: -20px;
}
.boxBody {
    margin-top: 50px;
    width: 100%;
    height: 800px;
    color: white;
}
.boxBody h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
}

.boxRight {

    position: relative;
    left: 55%;
    width: 600px;
    height: 500px;
    background-color: #003d76;

}
.boxLeft {
    position: relative;
    bottom: 500px;
    width: 600px;
    height: 500px;
    border: 20px solid #003d76;
    color: #003d76;
}
.mb-3-user {

    margin-top: 25px;
    width: 250px !important;
    margin-left: 30px;

}
.mb-3-user-right {
    position: relative;
    margin-left: 320px !important;
    margin-top: -86px !important;
}
.boxRight button {

    margin-left: 200px !important;
    margin-top: 30px !important;

}
.mb-3-login {

    margin-top: 25px;
    width: 500px !important;
    margin-left: 30px;

}
.boxLeft button {
    margin-left: 175px !important;
    margin-top: 20px !important;
}

.loader {
    border: 12px solid #f3f3f3; /* Light grey */
    border-top: 12px solid #003d76; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;

}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.status-header {
    padding-right: 20px;
}

.card-stepper {
    z-index: 0;
}

#progressbar-2 {
    color: #455A64;
}

#progressbar-2 li {
    list-style-type: none;
    font-size: 13px;
    width: 33.33%;
    float: left;
    position: relative;
}

#progressbar-2 #step1:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-left: 0px;
    padding-left: 0px;
}

#progressbar-2 #step2:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
}

#progressbar-2 #step3:before {
    content: '\f058';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-right: 0;
    text-align: center;
}

#progressbar-2 #step4:before {
    content: '\f111';
    font-family: "Font Awesome 5 Free";
    color: #fff;
    width: 37px;
    margin-right: 0;
    text-align: center;
}

#progressbar-2 li:before {
    line-height: 37px;
    display: block;
    font-size: 12px;
    background: #c5cae9;
    border-radius: 50%;
}

#progressbar-2 li:after {
    content: '';
    width: 100%;
    height: 10px;
    background: #c5cae9;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1;
}

#progressbar-2 li:nth-child(1):after {
    left: 1%;
    width: 100%
}

#progressbar-2 li:nth-child(2):after {
    left: 1%;
    width: 100%;
}

#progressbar-2 li:nth-child(3):after {
    left: 1%;
    width: 100%;
    background: rgba(255, 255, 255, 0.24) !important;
}

#progressbar-2 li:nth-child(4) {
    left: 0;
    width: 37px;
}

#progressbar-2 li:nth-child(4):after {
    left: 0;
    width: 0;
}

#progressbar-2 li.active:before,
#progressbar-2 li.active:after {
    background: #003d76;
}
.profilKnap {
    font-family: "Arial Black", Gadget, sans-serif;
    margin-right: 20px;
    color: white;
    text-decoration: white;
}
.confirm>img {
    margin-left: 50px;
}
.text .move{
    margin-left: 255px;
}
.text .move2{
    margin-left: 275px;
}
.statusContent {

}
.box1 h1 {
    font-family: "Arial Black", Gadget, sans-serif;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 70px;

}
.adminBox {
    margin-left: 50px;
    width: 230px;
    height: 230px;
    margin-top: -150px;
    font-size: 14px;
    text-align: center;
}
.adminBox2{
    margin-left: 75px;

}
.adminBox .p2 {
    margin-top: 8px;

}
.adminBox>img {
    width: 150px;
    height: auto;


}
.textOrder {

    font-family: "Arial Black", Gadget, sans-serif;
    color: #003d76;
}

.vh-100 {
    margin-bottom: 100px !important;
    border-color: green !important;
}

.listAndPay {
    margin-top: 20px;
    height: 200px;
    background-color: #003d76;
}

.btnList {

    margin-right: 20px;
    width: 200px !important;
    margin-top: 125px;

}
.listAndPay .rightSide {
    position: relative;
    left: 750px;
    bottom: 160px;

}
.btn-layer5 {
    background-color: green !important;
    color: white !important;
    border-color: green !important;
}
.listAndPay {
    font-family: "Arial Black", Gadget, sans-serif;
    color: white;
    text-transform: uppercase;
}
.listAndPay h2 {
    position: relative;
    top: 25px;
    left: 40px;
    font-size: 50px;

}.listAndPay h3 {
    position: relative;
    top: 40px;
    left: 40px;
    font-size: 30px;

}
 .p2 p {
     text-align: left !important;
     padding-left: 40px;
     font-size: 12px;
 }
 p .bold {
     font-family: "Arial Black", Gadget, sans-serif;
 }


